/* RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* INVISIBLE CONTENT */
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* BODY, HEADERS AND FONTS */
body {
    font-family: "Open Sans";
    font-size: 13pt;
    letter-spacing: 1.5px;
    color: rgba(204, 200, 255, 0.8);
    background-color: rgba(24, 4, 33, 1);
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 28pt;
    font-weight: bold;
    letter-spacing: 4.5px;
    color: rgba(236, 0, 140, 1);
}

h3 {
    font-size: 15pt;
    font-weight: bold;
    letter-spacing: 3.8px;
    color: rgba(219, 216, 251, 1);
}

/* BUTTONS */
.button {
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button--default {
    font-family: "Open Sans Semibold";
    letter-spacing: 1.6px;
    color: rgba(204, 200, 255, 0.8);
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
}

/* BASIC PAGE LAYOUT */
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-logo {
    margin-bottom: 30px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    text-align: right;
    margin-left: 220px;
    overflow: auto;
}

.page-menu__positions, 
.social-links {
    margin: 0;
    padding: 0;
}

.page-menu__position {
    padding-top: 3px;
    padding-bottom: 3px;
}

.page-menu__section:link, 
.page-menu__section:visited {
    color: rgba(236, 0, 140, 0.8);
    text-decoration: none;
    letter-spacing: 6.7px;
    font-weight: bold;
}

.page-menu__section:hover,
.page-menu__section:active {
    color: rgba(236, 0, 140, 1);
}

.page-menu__section:active {
    font-family: Helvetica;
    letter-spacing: 6.5px;
}

.page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0 7.5%;
    margin: 0;
    margin-bottom: 2em;
}

.page-section__header {
    display: flex;
    align-self: flex-end;
    flex-grow: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
}

.page-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

/* HOME */
.band-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.band-members__item__upper-container {
    text-align: center;
}

.band-members__image {
    height: calc(100vh * 0.4);
    margin-top: 2em;
    margin-bottom: 1em;
}

.band-members__label {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.band-members__label--name, 
.band-members__label--instrument {
    margin: 0.5em;
}

.band-members__label--instrument {
    letter-spacing: 3.5px;
    color: rgba(204, 200, 255, 0.5);
}

/* ABOUT */
.about-content {
    width: 90%;
    flex-grow: 0;
    align-self: flex-end;
    position: relative;
}

.about-content__image {
    width: calc(100% - 300px);
    min-width: 600px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 250px;
    border-top: 3px solid rgba(236, 0, 140, 1);
}

.about-content__desc {
    position: absolute;
    right: calc(100% - 520px);
    bottom: 0;
    width: 520px;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgba(37, 7, 46, 1);
    border-bottom: 3px solid rgba(236, 0, 140, 1);
    text-align: left;
}


/* CONCERTS */
.concerts-section {
    padding-left: 0;
    margin: 0;
}

.concerts {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.concerts__item {
    max-width: 100%;
    padding-bottom: 4em;
    padding-left: 4em;
    text-align: left;
}

.concerts__image {
    height: 33vh;
    max-height: 40vw;
    border-bottom: 3px solid rgba(236, 0, 140, 1);
} 

.concerts__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.concerts__date, 
.concerts__location {
    margin: 0;
}

.concerts__location {
    letter-spacing: 3.5px;
    color: rgba(204, 200, 255, 0.5);
}

.concerts__info__right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* VIDEO */
.video {
    width: 100%;
    justify-content: flex-start;
}

iframe {
    width: 90%;
    height: 70vh;
    margin-left: auto;
}

/* PHOTOS */
.photos-content {
    flex-grow: 0;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.gallery__item {
    width: 30%;
    min-width: 200px;
    margin-top: 1em;
    margin-left: 1em;
}

.gallery__image {
    width: 100%;
    border-top: 3px solid rgba(236, 0, 140, 1);
}

/* CONTACT */
.contact-content {
    flex-grow: 0;
    align-self: flex-end;
    padding: 0 10%;
    align-items: center;
}

.contact-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-label__left-container {
    max-width: 464px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-label__space-between-container {
    flex-basis: 50px;
    flex-shrink: 1;
}

.contact-label__right-container {
    min-width: 270px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.contact-label__photo {
    width: 100%;
}

.contact-label__address {
    text-align: left;
    vertical-align: middle;
    font-style: normal;
}

.contact-form {
    margin-top: 2em;
    text-align: left;
}

.form__label {
    line-height: 2em;
}

.form__field {
    color: rgba(204, 200, 255, 0.8);
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    border-radius: 3px;
    line-height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.form__submit {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}